BASE_URL=https://myezra-staging.ezra.com

TEST_USER_EMAIL=your-email@example.com
TEST_USER_PASSWORD=your-password

TEST_CARD_NAME=Test User
TEST_CARD_NUMBER=4242424242424242
TEST_CARD_EXPIRY=1228
TEST_CARD_CVV=123
